{
    "tabWidth": 2,
    "tailwindConfig": "./tailwind.config.ts",
    "tailwindAttributes": [
        "wrapperClassName",
        "wrapClassName",
        "rootClassName"
    ],
    "tailwindFunctions": [
        "classNames",
        "classnames",
        "twMerge"
    ],
    "importOrderSeparation": true,
    "importOrderCaseInsensitive": true,
    "importOrder": [
        "^react",
        "^@react",
        "^[^@/\\.][^/\\.]*$",
        "^@(?!/)|^[a-zA-Z]",
        "^@(?=/)",
        "^..(?!.*(css|scss)$).*$",
        "^.(?!.*(css|scss)$).*$",
        "module.s?css$",
        "s?css$"
    ],
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ]
}