.spotlight-element {
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0 0 2vmin #000;
  padding: 2.25vmin;
}

.spotlight-color {
  background-color: currentcolor;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.75), transparent);
}
