.spotlight-element {
  background-color: #111;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0 0 2vmin #000;
  padding: 2.25vmin;
  position: relative;
}

.spotlight-color {
  color: #930;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: currentcolor;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.75), transparent);
  box-sizing: border-box;
}
